In [5]:
import numpy as np
import pandas as pd

In [2]:
def two_group_ent(first, tot):
    """Calculate entropy"""
    m = first
    n = tot-first
    p1 = m/tot
    p2 = n/tot
    return -(p1*np.log2(first/tot) + p2*np.log2(n/tot))

In [7]:
data = pd.read_csv('ml-bugs.csv')

In [8]:
data.head()

  Species  Color  Length (mm)
0   Mobug  Brown         11.6
1   Mobug   Blue         16.3
2   Lobug   Blue         15.1
3   Lobug  Green         23.7
4   Lobug   Blue         18.4

## Caculate Initial total entropy.

In [13]:
tot = data.shape[0]  # Count total number of samples

In [24]:
species = data['Species'].value_counts()
species

Lobug    14
Mobug    10
Name: Species, dtype: int64

In [49]:
m = species[1]  # Do all the calculations on Mobug

In [50]:
tot_ent = two_group_ent(m, tot)

In [51]:
tot_ent

0.9798687566511528

## Now test various factors

In [25]:
color = data['Color'].value_counts()
color

Blue     10
Green     8
Brown     6
Name: Color, dtype: int64

In [33]:
length20 = data[data['Length (mm)']<20]
length20.shape

(17, 3)

In [34]:
length17 = data[data['Length (mm)']<17]
length17.shape

(9, 3)

In [37]:
length17['Species'].value_counts()

Mobug    6
Lobug    3
Name: Species, dtype: int64

In [38]:
length17p = data[data['Length (mm)']>=17]
length17p.shape

(15, 3)

## 17 seems to be the most promising because it finds 15 in one category

In [39]:
length17p['Species'].value_counts()

Lobug    11
Mobug     4
Name: Species, dtype: int64

In [46]:
ent17 = (15/25)* two_group_ent(11, 15) + (9/24) * two_group_ent(6, 9)  # First is always Mobug
ent17

0.846345382935134

In [47]:
ans = tot_ent - ent17
ans

0.13352337371601886